MAIL_USERNAME=info@algorycode.com
MAIL_PASSWORD=
MAIL_FROM=info@algorycode.com
MAIL_FROM_NAME=AlgoryCode

DB_URL=jdbc:postgresql://localhost:5433/pushnotificationdb
DB_USERNAME=postgres
DB_PASSWORD=postgres

ALGORYCODE_SITE_ASSISTANT_BOT_TOKEN=
ALGORYCODE_SITE_NOTIFICATION_BOT_TOKEN=
ALGORYCODE_SITE_ASSISTANT_BOT_WEBHOOK_SECRET=local-dev-secret
ALGORYCODE_SITE_ASSISTANT_BOT_WEBHOOK_URL=http://localhost:8081/api/v1/algorysite/assistant/webhook
TELEGRAM_ALGORY_SITE_CHANNEL_ID=
